exportPattern("^[^\\.]")

## Import all packages listed as Imports or Depends

import("ggplot2")

importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "plot", "hist")
importFrom("stats", "dist", "median", "optim", "rmultinom", "rnorm", "runif",
           "sd", "var")
importFrom("abc", "abc")
importFrom("parallel", "parLapply")

# Registered S3 methods
#S3method(barplot, Tstats)
#S3method(summary, Tstats)
#S3method(print, Tstats)
